
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/

#//////////////////////////
# Native Build Output
#//////////////////////////
native/engine/ios/Pods/
native/engine/ios/Podfile.lock
native/engine/ios/*.xcworkspace/
native/engine/ios/build/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# macOS
#//////////////////////////
.DS_Store
*.swp
*.swo